button {
  display: inline;
  padding: 5px 15px 5px;
  margin: 10px;
  background-color: cadetblue;
}

.app-component {
  background-color: azure;
  padding: 10px;
  border-style: solid;
  border-color: brown;
}


.app-data-binding{
  background-color: azure;
  padding: 10px;
  border-style: solid;
  border-color: brown;
  margin-top: 10px;
}
