button {
  display: inline-block;
  margin: 10px;
  padding: 5px 15px 5px;
  background-color: cadetblue;
}

img {
  display: block;
  visibility: visible;
  border-style: solid;
  border-color: cornflowerblue;
}


input {
  width: 50%;
  padding: 10px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
